*.csv
passwords.txt
myvenv
.vscode
Historical Data
__pycache__
resumen.txt
Harvested Backtest Framework-c01b8a37c1fb.json
db
options_backtester.db
targetdir
file.zip
from_csv_to_sql.py 
private_key.ppk
public_key_VM
.daily_update.py.swp
.apikey.json.swo
src/pip-delete-this-directory.txt
*.pyc
apikey2.json
apikey.json

